<!-- Header -->
<header class="border-shadow">
    <div class="container ">
        <nav>
            <a href="/"><i class="fa-solid fa-home"></i>홈</a>
            <a href="/contact"><i class="fa-solid fa-address-book"></i>연락처</a>
        </nav>
    </div>
</header>
<!-- /Header -->